a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
#menu_54a1c552 a { text-decoration: none; }
#menu_54a1c552_pane { background-color: #FFFF00; border: 1px solid #FFFF00; padding-top: 10px; padding-bottom: 10px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_54a1c552_hr { background-color: #FFFF00; height: 1px; border: none; }
#menu_54a1c552_entry { padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px; }
#menu_54a1c552_entry:hover { background-color: #323232; color: #FFFFFF !important; }
#menu_54a1c552_entry:hover span { color:#FFFFFF !important; }
		.menu_54a1c552_mainMenuEntry { text-align: center; }
		.menu_54a1c552_mainMenuEntry:hover {	background-color:#282828; }
		.menu_54a1c552_mainMenuEntry:hover span {	color:#FFFFFF !important; }
		#menu_54a1c552 .mobileEntry { display: none; } 
		#menu_54a1c552 .normalEntry { display: block; } 
		@media only screen and (max-width:550px) { 
			#menu_54a1c552 .mobileEntry { display: block; } 
			#menu_54a1c552 .normalEntry { display: none; } 
		}
body { background-color:#FFFF00; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#menu_54a1c552 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:100%; height:38px; text-align:left; background-color:#FFFF00; background: linear-gradient(to bottom, #FFFF00, #FFFF00); border: 1px solid #000000;  }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.style1 { position:absolute; width:37px; height:38px; left:10px;  }
.style2 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:33px;  }
.textstyle2 { font-size:22pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
.style3 { position:absolute; width:30px; height:38px; left:10px;  }
.style4 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:0px;  }
.style5 { position:absolute; width:99px; height:38px; left:40px;  }
.style6 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:36px;  }
.textstyle3 { font-size:22pt; font-family:Impact, Charcoal, sans-serif; color:#000000;  white-space: nowrap; }
.style7 { position:absolute; width:129px; height:38px; left:139px;  }
.style8 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:41px;  }
.textstyle4 { font-size:22pt; font-family:'Arial Black', Gadget, sans-serif; color:#000000;  white-space: nowrap; }
.textstyle5 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
#text_30174d59 { position:absolute; left:25%; top:62%; background:none;  }
#img_33c28df6 { position:absolute; left:26%; top:5%; width:42%; background:none; height:auto;  }
