a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
#menu_4c63728e a { text-decoration: none; }
#menu_4c63728e_pane { background-color: #FFFF00; border: 1px solid #FFFF00; padding-top: 10px; padding-bottom: 10px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_4c63728e_hr { background-color: #FFFF00; height: 1px; border: none; }
#menu_4c63728e_entry { padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px; }
#menu_4c63728e_entry:hover { background-color: #323232; color: #FFFFFF !important; }
#menu_4c63728e_entry:hover span { color:#FFFFFF !important; }
		.menu_4c63728e_mainMenuEntry { text-align: center; }
		.menu_4c63728e_mainMenuEntry:hover {	background-color:#282828; }
		.menu_4c63728e_mainMenuEntry:hover span {	color:#FFFFFF !important; }
		#menu_4c63728e .mobileEntry { display: none; } 
		#menu_4c63728e .normalEntry { display: block; } 
		@media only screen and (max-width:550px) { 
			#menu_4c63728e .mobileEntry { display: block; } 
			#menu_4c63728e .normalEntry { display: none; } 
		}
body { background-color:#FFFF00; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#menu_4c63728e { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:100%; height:38px; text-align:left; background-color:#FFFF00; background: linear-gradient(to bottom, #FFFF00, #FFFF00); border: 1px solid #000000;  }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.style1 { position:absolute; width:37px; height:38px; left:10px;  }
.style2 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:33px;  }
.textstyle2 { font-size:22pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
.style3 { position:absolute; width:30px; height:38px; left:10px;  }
.style4 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:0px;  }
.style5 { position:absolute; width:99px; height:38px; left:40px;  }
.style6 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:36px;  }
.textstyle3 { font-size:22pt; font-family:Impact, Charcoal, sans-serif; color:#000000;  white-space: nowrap; }
.style7 { position:absolute; width:129px; height:38px; left:139px;  }
.style8 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:41px;  }
.textstyle4 { font-size:22pt; font-family:'Arial Black', Gadget, sans-serif; color:#000000;  white-space: nowrap; }
.textstyle5 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
#text_7d6e0e94 { position:absolute; left:25%; top:62%; background:none;  }
.textstyle6 { text-align:center; }
#img_5c87a008 { vertical-align: bottom; position:relative; display: inline-block; width:50%; background:none; height:auto;  }
#text_24e3eb05 { position:absolute; left:30%; top:37%; background:none;  }
.textstyle7 { font-size:72pt; font-family:'Arial Black', Gadget, sans-serif; color:#000000;  }
#text_426fe36 { position:absolute; left:32%; top:55%; width:636px; height:18px; background:none;  }
.textstyle8 { font-size:66pt; font-family:'Arial Black', Gadget, sans-serif; color:#000000;  }
